.swiper-button-next,
.swiper-button-prev {
  color: #FFFFFF; /* Set your desired color */
}

.swiper-pagination-bullet {
  background-color: #FFFFFF; /* Default color for dots */
  width: 12px; /* Adjust size */
  height: 12px;
}


